/* Write your CSS here */
.vaccination-coverage-container {
  height: 480px;
  width: 90%;
  background-color: #1c1c2b;
  padding-top: 18px;
  padding-left: 14px;
  margin-bottom: 30px;
}
.vaccination-heading {
  color: #cbd5e1;
  font-size: 28px;
}
